$bg: #7251c2;
$gold: #c19b00;
$blue: #0891f9;
$gray: #919191;
$purple: #775bbb;
$text: #4e4e4d;
$white: #fff;
$whiteText: #eef3fa;
$black: #000;
$red: #ff0000;

@mixin montserrat300 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
}
@mixin montserrat400 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}
@mixin montserrat700 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}
@mixin lato400 {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
}
@mixin lato600 {
  font-family: 'Lato', sans-serif;
  font-weight: 600;
}
@mixin logo {
  font-family: "EthnocentricRUS-LAT-Extra-expandedRegular";
  font-weight: 400;
}

